.accordion-section-content .advanced-thumbnail {
	border: 1px solid #ccc;
	border-radius: 3px;
	max-width: 100%;
}
.customize-control-advancedUpload .advanced-thumbnail + a {
	display: inline-block;
}

/**
 * The Customizer and the Media Modal wind up in a z-index war of attrition
 * that the Customizer currently wins. End the MADness.
 */
.wp-core-ui .media-modal {
	z-index: 500002;
}
.wp-core-ui .media-modal-backdrop {
	z-index: 500001;
}